aclocal.m4
autom4te.cache/
autoscan.log
compile
config.log
config.status
configure
depcomp
install-sh
missing
Makefile
Makefile.in

include/stamp-h1
include/utils.h
include/utils.h.in
include/utils.h.in~
src/.deps/

*.a
*.o
